<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center>
        <h1><marquee > DHONI</marquee></h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.
             Sequi velit aliquam deserunt labore et facilis vero voluptates,
              fuga soluta sunt temporibus veniam dolore, quibusdam explicabo, 
              laboriosam nemo nihil maiores iusto!</p>
    </center>
</body>
</html>